.flex {
  display: flex;
  max-width: 450px;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  /**************** Generel style **********************/
  li {
    font-size: 1.7vw;
    margin-bottom: 2rem;
  }
  li p {
    font-size: 1.7vw;
  }

  h2 {
    font-size: 2.1vw;
  }

  h1 {
    font-size: 4vw;
  }

  p {
    font-size: 1.7vw;
  }

  span {
    font-size: 1vw;
  }

  /************** Overordnet klasser ******************/

  body {
    position: relative;
  }

  main {
    max-width: 1600px;
    margin: 0 auto;
  }

  .flex_desktop {
    display: flex;
    gap: 150px;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .order-1 {
    order: -1;
  }

  /******************* forside ************************/

  .forside_h1 {
    font-size: 6vw;
  }

  .forside_h3 {
    font-size: 3vw;
  }

  .forside_img {
    width: 30%;
    position: absolute;
    top: 30%;
    left: 57%;
  }
  .forside_h2 {
    position: absolute;
    white-space: nowrap;
    font-size: 2.6vw;
    left: 87%;
    top: 100%;
  }

  .overskrift {
    margin-top: 8%;
  }

  .flex {
    max-width: none;
  }

  /*********** Projekter ************/

  .projekt img {
    height: 50%;
  }

  .projekt p {
    font-size: 1.2rem;
    min-width: 30px;
  }
  .projekt {
    padding: 10px;
    border-right: 2px solid black;
  }

  .projekt:nth-child(4n) {
    border-right: none;
  }

  /************* Om mig *************/
  .ommig_img {
    position: absolute;
    width: 33%;
    left: 55%;
    top: 20%;
  }

  .ommig_h1 {
    text-align: left;
    margin-left: 15%;
    margin-bottom: 2rem;
    font-size: 4vw;
  }

  .læring {
    position: absolute;
    max-width: 1200px;
    top: 130%;
    left: 35%;
  }
}
