.flex {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
}

.mobil_grid_1-1 {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 420px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

/**************** Desktop *****************************/

@media (min-width: 1000px) {
  /**************** Generel style **********************/
  li {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  li p {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 2.1vw;
  }

  h1 {
    font-size: 3.4vw;
  }

  p {
    font-size: 1.3rem;
  }

  span {
    font-size: 1vw;
  }

  body {
    position: relative;
  }

  main {
    max-width: 1600px;
    margin: 0 auto;
  }

  /************** Overordnet klasser ******************/

  .flex_desktop {
    display: flex;
    margin-top: 1rem;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    align-items: center;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .order-1 {
    order: -1;
  }

  /******************* forside ************************/

  .forside_h1 {
    font-size: 6vw;
  }

  .forside_h3 {
    font-size: 3svw;
  }

  .forside_img {
    width: 32%;
    position: absolute;
    top: 35%;
    left: 57%;
  }
  .forside_h2 {
    position: absolute;
    white-space: nowrap;
    font-size: 2.6vw;
    left: 90%;
    top: 90%;
    display: none;
  }

  .overskrift {
    margin-top: 5%;
  }

  .flex {
    max-width: none;
  }

  body.forside {
    background: var(--beige) url(../billeder/mønster_navn.svg) no-repeat left 150px;
    background-size: 110%;
  }

  .forside_knap {
    display: none;
    background-color: var(--grøn);
    color: var(--beige);
    text-align: center;
    font-family: "Work Sans", sans-serif;
    margin: 1rem auto;
    text-decoration: none;
    border-radius: 4%;
    font-size: 1.2rem;
    width: 200px;
    padding: 0.5rem;
  }

  .forside_knap:hover {
    transform: scale(1.1);
    text-decoration: underline;
  }
  .navn {
    display: none;
  }

  /*********** Projekter ************/

  .projekter_h1 {
    margin-bottom: 2.5rem;
    font-size: 4vw;
  }

  .projekt img {
    height: 50%;
  }

  .projekt p {
    font-size: 1.4vw;
    min-width: 30px;
  }

  /************* Om mig *************/

  .ommig {
    margin-left: 2rem;
  }

  .ommig img {
    position: absolute;
    width: 500px;
    left: 55%;
    top: 20%;
  }

  .ommig h1 {
    text-align: left;
    margin-left: 15%;
    margin-bottom: 4rem;
    font-size: 4vw;
  }

  .læring {
    position: absolute;
    max-width: 1200px;
    top: 135%;
    left: 25%;
    padding-right: 1rem;
  }

  body.om_mig {
    background: var(--beige) url(../billeder/baggrund_ommig.svg) no-repeat center 300px;
  }

  /************** Projekt 1-4 ***************/

  .projekter {
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  .projekter h1 {
    font-size: 5vw;
  }

  .projekter img {
    width: 45%;
  }

  .overskrift_h2 {
    font-size: 2vw;
  }

  .grid_1-1 img {
    width: 75%;
  }
}
