/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/************ Fonte **************************/

.tai-heritage-pro-bold {
  font-family: "Tai Heritage Pro", serif;
  font-weight: 700;
  font-style: normal;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/**************** Variable ********************/
html {
  scroll-behavior: smooth; /* Gør så den scroller smooth når man trykker på back to top knap */
  --grøn: #014421;
  --beige: rgb(223 220 213);
  --font_tai: "Tai Heritage Pro", serif;
  --font_work: "Work Sans", sans-serif;
}

/**************** Overordnet style ************/

body {
  background-color: var(--beige);
}
main {
  padding: 0 1.4rem;
  margin-bottom: 5rem;
}

h1 {
  color: var(--grøn);
  font-family: var(--font_tai);
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}

h2 {
  color: var(--grøn);
  font-family: var(--font_tai);
  line-height: 1;
  margin-bottom: 1rem;
}

h3 {
  color: var(--grøn);
}

p {
  font-family: var(--font_work);
  line-height: 2;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  margin-top: 0.8rem;
  overflow-wrap: break-word;
}

li {
  font-family: var(--font_work);
  font-size: 1.1rem;
  list-style: none;
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 5rem;
}

span {
  margin-top: 0rem;
  font-weight: 200;
  font-size: 0.8rem;
}

img {
  width: 80%;
  margin: 1rem auto;
}

figcaption {
  text-align: center;
  font-family: var(--font_work);
  font-style: italic;
  font-size: 0.8rem;
  margin-top: -1rem;
}

figure {
  margin: 3rem 0;
}

/************** Menu (fra undervisningen) *************************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  margin-bottom: 0;
}

.logo img {
  width: clamp(60px, 8vw, 80px);
  height: auto;
  margin: 1rem;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding-left: 50px;
  color: var(--grøn);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: var(--font_work);
  font-size: 1.3rem;
}

.menu a:hover {
  text-decoration: underline;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--grøn);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--beige);
    position: absolute;
    top: 90px;
    right: 0;
    width: 100%;
    height: 200px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
    text-align: center;
    padding: 10px;
  }
}

/************* Generelle klasser *************/

.center {
  text-align: center;
}

.order {
  order: 3;
}

/************* Knapper ********************/

.knap {
  display: inline-block;
  background-color: var(--grøn);
  color: var(--beige);
  text-align: center;
  font-family: var(--font_work);
  margin: 1rem auto;
  text-decoration: none;
  border-radius: 4%;
  font-size: 1.2rem;
  padding: 0.6rem 2rem;
}

.knap:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

#backtotop_knap {
  position: fixed;
  right: 3%;
  top: 88%;
  width: 50px;
  display: none;
}

#backtotop_knap:hover {
  scale: 1.1;
}

/************ Forside ********************/

.forside main {
  margin: 0;
}

.forside_img {
  width: 100%;
  margin-bottom: 3rem;
  margin: 0;
  animation-name: opacity_kf;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.forside_h1 {
  font-size: 4.2rem;
  line-height: 1;
  margin-bottom: 0;
  animation-name: slide_left_kf;
  animation-duration: 2s;
}

.forside_h3 {
  font-size: 1.5rem;
  font-family: var(--font_work);
  margin-left: 35%;
  font-weight: 400;
  animation-name: slide_right_kf;
  animation-duration: 2s;
}

.navn {
  width: 80%;
  animation-name: slide_top_kf;
  animation-duration: 2s;
}

/*********** Projekter ********************/

.projekt {
  margin-bottom: 5rem;
  text-align: center;
}

.projekt img {
  width: 55%;
  max-width: 350px;
  margin: 2rem auto;
  margin-top: 3rem;
}

.projekt p {
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-family: var(--font_work);
  color: var(--grøn);
  font-size: 1.5rem;
  text-align: center;
}

.projekt h2 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.projekter_h1 {
  margin-bottom: 4rem;
}

/**************** Om mig ****************/

li p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 0;
}

.ommig img {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.uddannelse {
  margin-top: 1rem;
}

.læring h2 {
  margin-bottom: 1rem;
}

/************ Projekt 1-4 ***************/

.projekter img {
  max-width: 500px;
  margin-bottom: 2rem;
}

.løsning_img {
  margin-top: 3rem;
}

.projekter p {
  text-align: left;
}

.overskrift_h2 {
  margin-left: 20%;
  font-family: var(--font_work);
  font-weight: 400;
  margin-bottom: 3rem;
  margin-top: 0;
  font-size: 1.3rem;
}

.margin {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.navigation ul {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 1.4rem;
}

.navigation li {
  border: 2px solid var(--grøn);
  border-right: none;
  padding: clamp(0.3rem, 1vw, 0.4rem) clamp(0.5rem, 3vw, 2rem);
}

.navigation li:last-child {
  border: 2px solid var(--grøn);
}

.navigation li.active {
  border: none;
  background-color: var(--grøn);
  opacity: 100%;
}

.navigation li.active:hover {
  opacity: 100%;
}

.navigation li:hover {
  opacity: 50%;
  background-color: var(--grøn);
}

.navigation li:hover a {
  color: var(--beige);
}

.navigation a {
  color: var(--grøn);
  text-decoration: none;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-family: var(--font_work);
  font-weight: 500;
  text-align: center;
}

.navigation .active a {
  color: var(--beige);
}

.projekt_knap {
  display: inline-block;
  border: 2px solid var(--grøn);
  padding: 0.5rem 1rem;
  font-family: var(--font_work);
  font-weight: 600;
  text-decoration: none;
  color: var(--grøn);
  font-size: 0.9rem;
  margin-top: 0.8rem;
}

.projekt_knap:hover {
  text-decoration: underline;
  scale: 1.1;
}

/************* animationer ****************/

@keyframes opacity_kf {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes slide_left_kf {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide_right_kf {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide_top_kf {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  30% {
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
