/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/************ Fonte **************************/

.tai-heritage-pro-bold {
  font-family: "Tai Heritage Pro", serif;
  font-weight: 700;
  font-style: normal;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/**************** Variable ********************/
html {
  --grøn: #014421;
  --beige: rgb(223 220 213);
  --font_tai: "Tai Heritage Pro", serif;
}

/**************** Overordnet style ************/

body {
  background-color: var(--beige);
}
main {
  padding: 0 1.4rem;
}

h1 {
  color: var(--grøn);
  font-family: "Tai Heritage Pro", serif;
  font-size: 3rem;
  line-height: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  color: var(--grøn);
  font-family: "Tai Heritage Pro", serif;
}

h3 {
  color: var(--grøn);
  font-family: "Tai Heritage Pro", serif;
}

p {
  font-family: "Work Sans", sans-serif;
  line-height: 2;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

li {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
  list-style: none;
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 3rem;
}

span {
  margin-top: 0rem;
  font-weight: 200;
  font-size: 0.8rem;
}

img {
  width: 80%;
  margin: 1rem auto;
}

/************** Menu *************************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  margin-bottom: 0;
}

.logo img {
  width: clamp(60px, 8vw, 100px);
  height: auto;
  margin: 1rem;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding-left: 50px;
  color: var(--grøn);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
}

.menu a:hover {
  text-decoration: underline;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--grøn);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--beige);
    position: absolute;
    top: 90px;
    right: 0;
    width: 100%;
    height: 200px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
    text-align: center;
    padding: 10px;
  }
}

/************* Generelle klasser *************/

.center {
  text-align: center;
}

.order {
  order: 3;
}

/************* Knapper ********************/

.knap {
  display: inline-block;
  background-color: var(--grøn);
  color: var(--beige);
  width: 200px;
  text-align: center;
  font-family: var(--font_tai);
  margin: 1rem auto;
  text-decoration: none;
  border-radius: 4%;
  font-size: 1.2rem;
  padding: 0.1rem 2rem;
}

.knap:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

/************ Forside ********************/

.forside_img {
  width: 100%;
  margin-bottom: 3rem;
  margin-top: 0;
}

.forside_h1 {
  font-size: 4.2rem;
  line-height: 1;
  margin-bottom: 0;
}

.forside_h2 {
  writing-mode: vertical-lr;
  font-size: 3rem;
  line-height: 1.8;
  margin-top: 0;
}

.forside_h3 {
  font-size: 1.5rem;
  line-height: 1;
  margin-left: 35%;
}

/*********** Projekter ********************/

.projekt {
  margin-bottom: 6rem;
  text-align: center;
}

.projekt img {
  width: 55%;
  max-width: 350px;
  margin: 2rem auto;
}

.projekt p {
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-family: "Work Sans", sans-serif;
  color: var(--grøn);
  font-size: 1.5rem;
}

.projekt h2 {
  font-size: 2rem;
  line-height: 1;
}

.projekter_h1 {
  margin-bottom: 4rem;
}

/**************** Om mig ****************/

li p {
  line-height: 1.5;
  margin-bottom: 0;
}

.ommig_img {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

/************ Projekt 1-4 ***************/

.overskrift_h2 {
  margin-left: 5rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}
